beautifulsoup4==4.12.2
boto3==1.33.2
boto3==1.33.6
clip==1.0
keys==0.1-test
numpy==1.26.2
openai==1.3.8
pandas==1.5.3
Pillow==9.5.0
Pillow==10.1.0
Requests==2.31.0
SQLAlchemy==1.4.49
streamlit==1.26.0
torch==2.1.1
